[user]
  name = Sandro Padin
  email = sandropadin@gmail.com
[github]
  user = spadin
[core]
  quotepath = false
[alias]
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
[apply]
  whitespace = warn
[color "diff"]
  meta = yellow normal
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  default = current
[merge]
  tool = opendiff
